<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page- My Dope Music</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <style>
        .card {
            display: inline-block;
            margin: 10px;
            width: 8rem;
            height:18rem;

        }
        .row {
            margin-left: 50px;
            margin-right: 50px;
        }
        #link{
            font-size: 45pt;
            box-shadow: 5px 5px 10px white;
        }
        #link:hover{
            cursor: grab;
            background-color: white;
            color: red;
            box-shadow: 5px 5px 10px rgb(141, 48, 48);
        }
    </style>
</head>
<body>
 
    <h2 class="card">
        HELLLLOOOO
    </h2>

    
</body>
</html>